body {
    margin: 0;
    height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-image: url('../src/login.png');
    background-size: cover;
    background-position: center;
}

#catchphrase {
    text-align: center;
    margin: 0; 
    position: absolute; 
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

.container {
    position: fixed; 
    margin-top: 20%;
    left: 50%; /* Move to the center horizontally */
    top: 50%; /* Move to the center vertically */
    transform: translate(-50%, -50%); /* Offset by half of its size */
    width: 20%; 
    height: 100%; 
    overflow: auto; 
    padding-top: 60px;
}

#forgot {
    position: fixed; 
    margin-top: 5%;
    left: 50%; /* Move to the center horizontally */
    top: 50%; /* Move to the center vertically */
    transform: translate(-50%, -50%); /* Offset by half of its size */
}