<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheVibeAi</title>
      <!-- JS -->
    <script src='scripts/page.js'></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>
  <body>
    <!-- Main page -->
     <div class="main-page">
      <h1 id="catchphrase">Catch a Vibe!</h1>

      {% if not session.logged_in %}
      <div class="spotify-login">
        <form action="{{ url_for('login') }}" method="POST">
          <h2>Sign in to Spotify</h2>
          <label for="uname"><b> Account Email</b></label>
          <input type="text" placeholder="Enter Email" name="username" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <button type="submit">Sign in</button>
        </form>
      </div>
      {% endif %}

      <div class="message-history">
          <div class="message">
            <img src="static/assets/circle.png" alt="circle" />
            <div>Give me some blah blah blah blah</div>
          </div>

          <div class="message">
            <img src="static/assets/circle.png" alt="circle" />
            <div>Give me some more blah blah blah blah</div>
          </div>

          <div class="input-area">
            <input type="text" id="userInput" placeholder="Type your message here..." />
            <button onclick="sendMessage()">Send</button>
          </div>
      </div>

     </div>
  </body>
</html>